.home {
  width: 100%;
}

.home_section {
  width: 100%;
  height: 89vh;
  transition-duration: 0.3s;
}

.home_h1 {
  font-size: 3.125rem;
  margin-bottom: -5px;
}

.home_h2 {
  font-size: 2rem;
  line-height: 2.375rem;
}

.bold {
  font-weight: 500;
}
.par {
  font-size: 1.25rem;
  line-height: 140%;
}
.bigtext {
  font-size: 3.75rem;
  line-height: 120%;
}
.margin {
  margin-left: 20px;
  margin-right: 20px;
}
.padding20 {
  padding-left: 20px;
  padding-right: 20px;
}
.bgblue {
  background-color: #440ccd;
}
.center {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.topborder {
  border-top: 1px solid grey;
}
.textwhite {
  color: white;
}

@media screen and (max-width: 570px) {
  .home_header1 {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
