.login_div {
  width: 100%;
  height: 90vh;
}

.contentcenter {
  display: flex;
  justify-content: space-evenly;
}

.contentcentercolumn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.padtop20 {
  padding-top: 20px;
}

.padLeft20 {
  padding-left: 20px;
}

.logincenter {
  text-align: center;
}

.margintop20 {
  margin-top: 45px;
}
.bold {
  font-weight: 500;
}

.blue {
  color: blue;
}

.underlined {
  text-decoration: underline;
}

.underlined:hover {
  text-decoration: none;
}
