.footer {
  margin-top: 10vh;
  height: 20vh;
}

.content_center {
  display: flex;
  justify-content: space-evenly;
}

.paddingtop20 {
  padding-top: 20px;
}

.bgblack {
  background-color: #000000;
}
